/*broad styles*/
*,
*:after,
*:before {
  font-family: "ABeeZee", serif;
}

/*header styles*/
body {
  margin: 0px;
}

header {
  background-color: #1A1423;
  color: lightgrey;
  padding: 10px 30px 40px 30px;
}

.user {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 20px 0;
}

/*icon not centering with text, fix?*/
.admin-text {
  margin: 0 10px 0 10px;
}

.user-options {
  height: 20px;
  width: 20px;
}

.header-flex {
  display: flex;
  flex-wrap: wrap;
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
}

.nav-bar {
  align-items: flex-end;
  display: flex;
  margin: 5px;
}

.company {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

#nav-icon {
  display: none;
}

.logo {
  height: 50px;
  width: 50px;
}

.company-name {
  color: white;
  font-size: 28px;
  margin: 0 0 0 5px;
  white-space: nowrap;
}

.icon {
  height: 25px;
  width: 25px;
}

.selected {
  color: #EDAE49;
}

.nav-text {
  margin: 0 30px 0 10px;
  text-transform: uppercase;
}

/*main content styles*/
body {
  background-color: #F7F7F2;
  margin: 0;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*Possible to get title inline with left box?*/
.title {
  margin: 20px 10px;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  margin-top: 10px;
}

h6 {
  font-size: 18px;
  margin-bottom: 15px;
}

.blue-text {
  color: #297373;
}

.profile {
  background-color: white;
  border: solid 1px lightgrey;
  box-shadow: 5px 5px 5px lightgrey;
  display: relative;
  height: 470px;
  margin: 5px;
  width: 300px;
}

.prof-header {
  position: relative;
}

.user-image {
  filter: brightness(80%);
  height: 200px;
  object-fit: cover;
  position: relative;
  width: 300px;
}

.return {
  bottom: 190px;
  left: 15px;
  position: relative;
  width: 50px;
}

.views {
  bottom: 245px;
  color: white;
  left: 235px;
  position: relative;
  text-align: center;
  width: 50px;
}

.user-text {
  bottom: 130px;
  padding: 15px;
  position: relative;
}

.links {
  background-color: lightgrey;
  hyphens: auto;
  margin: 15px 0;
  overflow-wrap: break-word;
  padding: 5px;
}

a {
  color: black;
  text-decoration-line: none;
}

/*Media queries for larger screens*/
@media(min-width: 1560px) {}

/*Media queries for smaller screens*/
@media(max-width: 559px) {
  header {
    padding: 20px;
  }

  .title {
    text-align: center;
  }

  .logo {
    height: 50px;
    width: 50px;
  }

  .company-name {
    font-size: 24px;
    white-space: normal;
  }

  nav,
  .user {
    display: none;
  }

  #nav-icon {
    display: inline;
    height: 30px;
    width: 30px;
  }
}






